<ion-view title="Feedback" id="page16">
  <ion-content padding="true" style="background: url(img/background1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="feedback-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">1) This application lived upto my expectations.</p>
    </div>
    <form id="feedback-form4" class="list">
      <ion-radio id="feedback-radio3">Agree</ion-radio>
      <ion-radio id="feedback-radio4">Disagree</ion-radio>
    </form>
    <div id="feedback-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">2) This application helped me to relieve stress.</p>
    </div>
    <form id="feedback-form5" class="list">
      <ion-radio id="feedback-radio5">Agree</ion-radio>
      <ion-radio id="feedback-radio6">Disagree</ion-radio>
    </form>
    <div id="feedback-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">3) I feel refreshed after using this application.</p>
    </div>
    <form id="feedback-form6" class="list">
      <ion-radio id="feedback-radio7">Agree</ion-radio>
      <ion-radio id="feedback-radio8">Disagree</ion-radio>
    </form>
    <div id="feedback-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">4) I am able to better concentrate on my work/studies after using this application.</p>
    </div>
    <form id="feedback-form8" class="list">
      <ion-radio id="feedback-radio12">Disagree</ion-radio>
      <ion-radio id="feedback-radio11">Agree</ion-radio>
    </form>
    <div id="feedback-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">5) I have transformed into an optimistic person.</p>
    </div>
    <form id="feedback-form12" class="list">
      <ion-radio id="feedback-radio19">Agree</ion-radio>
      <ion-radio id="feedback-radio20">Disagree</ion-radio>
    </form>
    <div id="feedback-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;font-size:15px;">6) I would recommend this application to my friends and family.</p>
    </div>
    <form id="feedback-form13" class="list">
      <ion-radio id="feedback-radio21">Agree</ion-radio>
      <ion-radio id="feedback-radio22">Disagree</ion-radio>
      <div class="spacer" style="width: 300px; height: 35px;"></div>
      <div ng-controller="feedbackCtrl">
     <button class="button button-stable button-block" ng-click="clicked()">Submit</button>
    </div>
    </form>
  </ion-content>
</ion-view>
