<ion-view title="Home" id="page1">
    <ion-content padding="true" style="background: url(img/background1.jpg) no-repeat center;background-size:cover;" class="has-header">
		<div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ion-list id="spark4Mind-list4">
                        <ion-item class="item-avatar" id="spark4Mind-list-item6">
                            <h2>Hello {{name}}</h2>
                        </ion-item>
                    </ion-list>
                </div>
            </div>

        </div>
		<div class="wrapper">

           <main>
            <div class="container">

             <div class="section">
                <div class="section__content clearfix">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="1">
                                <a ui-sref="menu.video">
                                <div class="card__front">
                                    <span class="card__text">Video</span>             
                                </div></a>
                                <a ui-sref="menu.video">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-film fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="2">
                                <a ui-sref="menu.music">
                                <div class="card__front">
                                    <span class="card__text">Music</span>             
                                </div></a>
                                <a ui-sref="menu.music">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-music fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="3">
                                <a ui-sref="menu.gallery">
                                <div class="card__front">
                                    <span class="card__text">Gallery</span>             
                                </div></a>
                                <a ui-sref="menu.gallery">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="4">
                                <a ui-sref="menu.nytimes">
                                <div class="card__front">
                                    <span class="card__text">News</span>             
                                </div></a>
                                <a ui-sref="menu.nytimes">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="5">
                                <a ui-sref="menu.articles">
                                <div class="card__front">
                                    <span class="card__text">Read Article</span>             
                                </div></a>
                                <a ui-sref="menu.articles">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="6">
                                <a ui-sref="menu.classes">
                                <div class="card__front">
                                    <span class="card__text">Join class</span>             
                                </div></a>
                                <a ui-sref="menu.classes">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-users fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="7">
                                <a ui-sref="menu.books">
                                <div class="card__front">
                                    <span class="card__text">Books</span>             
                                </div></a>
                                <a ui-sref="menu.books">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-book fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                        <div class="col-xs-6">
                            <div class="card effect__random" data-id="8">
                                <a ui-sref="menu.game">
                                <div class="card__front">
                                    <span class="card__text">Games</span>             
                                </div></a>
                                <a ui-sref="menu.game">
                                <div class="card__back">
                                  <span class="card__text"><i class="fa fa-gamepad fa-4x" aria-hidden="true"></i></span>
                                </div></a>
                              </div><!-- /card -->
                        </div>
                    </div>


                </div><!-- /card -->
              </div><!-- /section -->

            </div>
          </main><!-- /main -->  
        </div><!-- /#wrapper -->		
    </ion-content>
</ion-view>
