<ion-view title="Music Player" id="page17">
  <ion-content padding="true" style="background: url(img/background1.jpg) no-repeat center;background-size:cover;" class="has-header">
   <div class="list card" id="page-card21" style="display: block; width: 100%; height: 275px;">
      <div class=" item item-image">
        <img src="img/BeautifulMemories.jpg" style="display: block; width: 50%; height: 120px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Beautiful Memories</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Hawk Nelson</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 5:45</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sWXNVVXZBNXpDNTg/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card22" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/CircleOfLife.png" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Circle Of Life</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Elton John</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 5:45</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sYmhrMU85TkV4b3M/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	<div class="list card" id="page-card23" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/CompleteRelaxation.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">CompleteRelaxation</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: James Horner</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 7:01</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sYnB5alRfMUFoX28/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card24" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/CoolWaters.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Cool Waters</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Sons of the Pioneers</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 6:46</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sNWM2MjJiTG1vWFU/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	<div class="list card" id="page-card25" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/DriveIntoPool.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Drive Into Pool</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Ferris Bueller</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 6:02</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sejJxcThENDJ0cWc/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card26" style="display: block; width: 100%; height: 275px;">
      <div class=" item item-image">
        <img src="img/EasyGoing.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Easy Going</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Sesame Street</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 5:39</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sRDdZZXd0anZZRjg/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	<div class="list card" id="page-card27" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/healing-touch.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Healing Touch</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist:John Green</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 6:08</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3scTNueVdlT3NLUUk/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card28" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/ItsNatural.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">ItsNatural</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Chris Lane</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 5:34</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sb3NBdUxTQlN5ZUk/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	<div class="list card" id="page-card29" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/Journey.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Journey</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Lea Salonga</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 3:11</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3scDA5VEQwQm1ZU1k/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card30" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/relax.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Relax</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Paul Rutherford</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 3:01</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sMnFxUzlZWFdKOHc/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	
    <div class="list card" id="page-card32" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/soothing.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Soothing The Senses</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Rob Nightingale</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 6:04</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sdDRld0VTTVlOZmM/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
	<div class="list card" id="page-card33" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/where-are-you-going.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2">
        <div id="page-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Where Are you Going?</p>
        </div>
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Dave Matthews</p>
        </div>
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 3:53</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item4" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sS2JNc3pVZDliMk0/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
    <div class="spacer" style="width: 300px; height: 14px;"></div>
	
    <div class="list card" id="page-card34" style="display: block; width: 100%; height: 295px;">
      <div class=" item item-image">
        <img src="img/Winter-skies.jpg" style="display: block; width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container3">
        <div id="page-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">Winter Skies</p>
        </div>
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Artist: Stratovarius</p>
        </div>
        <div id="page-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Duration: 8:04</p>
        </div>
      </div>
      <ion-item class="item-icon-left royal" id="page-list-item5" onclick="window.open('https://drive.google.com/file/d/0B3R6YbG1RB3sNjFISEM2c05OV00/view?usp=sharing'); return false;">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
	
	<div class="spacer" style="width: 300px; height: 14px;"></div>
	
  </ion-content>
</ion-view>
