<ion-view title="Video" id="page6">
    <ion-content padding="true" style="background: url(img/background1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Redefining Happiness</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/_R6R62qUgIs" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Famous Failures before Success</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/JNy-XytidOU" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Steve Job Rules for Success</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/guRp6usVYaQ" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Famous Failures before Success</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/bAwXAFz6cmA" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Seeing Beauty Everywhere</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/7_uaqtrIb1g" type="text/html" frameborder="0" style="height:200px"></iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Inspirational Philosopher</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/5F5RzlaqmsI" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="video_title"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<b>Whey should we never Stop Learning</b></span>
        </div>   
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <iframe src="https://www.youtube.com/embed/flra_KrXcqI" type="text/html" frameborder="0" style="height:200px"> </iframe>
        </div>   
    </div>
    </ion-content>
</ion-view>