<ion-view title="Video" id="page6">
    <ion-content padding="true" style="background: url(img/background.jpg) no-repeat center;background-size:cover;" class="has-header">
        <table>
            <tr>
                <td> <iframe src="https://www.youtube.com/embed/Yi7BM8XPTfA" type="text/html" frameborder="0"> </iframe></td>
            </tr>
			<tr>
                <td> <iframe src="https://www.youtube.com/embed/_R6R62qUgIs" type="text/html" frameborder="0"> </iframe></td>
            </tr>
			<tr>
                <td> <iframe src="https://www.youtube.com/embed/7_uaqtrIb1g" type="text/html" frameborder="0"> </iframe></td>
            </tr>
			<tr>
                <td> <iframe src="https://www.youtube.com/embed/5F5RzlaqmsI" type="text/html" frameborder="0"> </iframe></td>
            </tr>
			<tr>
                <td> <iframe src="https://www.youtube.com/embed/flra_KrXcqI" type="text/html" frameborder="0"> </iframe></td>
            </tr>
        </table>
    </ion-content>
</ion-view>