<ion-view title="Gallery" id="page11" style="background-color:#B8F0F5;">
    <ion-content padding="true" style="background: url(img/ocean_sand_beach.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress">
                <img src="img/gallery/QPTfMmeWRRK3Ze6ScBbK_stress-management.jpg"  width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress2">
                <img src="img/gallery/6txhc1PxRl6OuxDA39SY_dab230b959c53115f4fc8e1d2e8d3fd0.jpg"  width="100%" height="100%" zoom="80%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
		<div class="spacer" style="width: 300px; height: 18px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress2">
                <img src="img/gallery/Dollarphotoclub.jpg"  width="100%" height="100%" zoom="80%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress5">
                <img src="img/gallery/koKpPqCVRRC7yJJhBFOy_stressed-stress-relax.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress6">
                <img src="img/gallery/B8CxwtEmRnayoOH5VJCF_stress-management_580x400.png" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
            
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div>
            <a style="display:block;" ui-sref="manageYourStress11">
                <img src="img/gallery/JNvIoXN8QECQKXyqbIPs_stress-reducing-methods.jpeg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>