<ion-view title="Home" id="page1">
    <ion-content padding="true" style="background: url(img/ocean_sand_beach.jpg) no-repeat center;background-size:cover;" class="has-header">
		<ion-list id="spark4Mind-list4">
            <ion-item class="item-avatar" id="spark4Mind-list-item6">
                <h2>Hello {{name}}</h2>
            </ion-item>
        </ion-list>
		<div class="spacer" style="height: 20px;"></div>
		<table>
			<tr>
				<td><a ui-sref="menu.video"><img src="img/video.jpg" width='90%' height='50%'></a></td>
				<td><a ui-sref="menu.video"><img src="img/Music.png" width='90%' height='50%'></a></td>
			</tr>
			<tr>
				<td><div class="spacer" style="height: 20px;"></div></td>
			</td>
			<tr>
				<td><a ui-sref="menu.gallery"><img src="img/photo.png" width='90%' height='45%'></a></td>
				<td><a ui-sref="menu.classes"><img src="img/class.png" width='90%' height='50%'></a></td>
			</tr>
		</table>  		
	</ion-content>
</ion-view>